.container {
    margin-top: 5px;
}

h1, h2, h5, p {
    font-family: Lato, sans-serif;
}

.navbar-inverse {
    background-color: #2d3c49;
    border-color: #2d3c49;
}

/*--- HEADER & LARGE IMAGE SECTION --- */

h1 {
    font-weight: 300;
}

h2.proj-list-title {
    color: #7d97ad;
}

.header-text {
    text-align: right;
    color: #2d3c49;
}

.icon-container {
    max-width: 100%;
}

hr {
    background-color: #7d97ad;
    height: 5px;
    margin: 20px 0px;
}

.proj-list-title {
    margin-left: 10px;
}

/*--- PROJECT LIST SECTION ---*/

.projects {
    text-align: center;
    color: #2d3c49;
}

.proj-title {
    margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
    .proj-list-title {
        text-align: center;
    };
}


